  <div class="col-md-6">
    <h3>Create a New Post:</h3>
    <form class="form">
      <div class="form-group">
        <label for="project-name">Post Title:</label>
        <input class="form-input title" type="text" />
      </div>
      <div class="form-group">
        <label for="project-desc">Text:</label>
        <textarea class="form-input text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary create">Create</button>
      </div>
    </form>
  </div>

  <script src="../public/js/newpost.js"></script>